<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Experience</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
    <style>
        /* Insert the updated CSS code here */
    </style>
</head>

<body>
<div class="main-header">
    <h1>Experiences</h1>
</div>

<div class="navbar">
    <a routerLink="/">Home</a>
    <a routerLink="/experience">Experiences</a>
    <a routerLink="/project">Projects</a>
</div>

<div class="content">
    <div class="leftcontainer">
        <div class="lassen-peak">
            <h1>Lassen Peak Internship</h1>
        </div>
        <div class="lpa">
        
               <ul>
                <li> The Lassen Peak company is creating hand-held devices for law enforcement detect weapons on  people without frisking.</li>
                <li> I worked on collecting data from these devices and creating data models. </li>
                <li> analyzed the data and provided feedback upon which Signal to Noise Ratio (SnR) was the most accurate, and compared the different software upgrades to determine most effective one.</li>
                <li> Worked with the computer scientists to write Python Scripts to calculate the average amount of accurate detections the device was scanning per frame. </li>
                <li> Learned how to calibrate these devices, and how to establish a ssh connection to these devices.</li>
             </ul> 


          
        </div>
    </div>

    <div class="rightcontainer">
        <div class="lassenpeakimage">
            <img src="../assets/lassenpeakimage.png" alt="Lassen Peak Image">
        </div>
    </div>
</div>



<div class="content2">
    <div class="leftcontainer2">
        <div class="Virtual-Reality">
            <h1>Game Developer and Researcher at Virtual Reality Lab</h1>
        </div>
        <div class="ivr">
        
               <ul>
                <li> I worked on a video game designed by the Imaginarium Virtual Reality Lab at my university. </li>
                <li> this video game is used for research on body image and body dysmorphia in augmented reality. </li>
                <li>Gained skills in game development from Unity and converting these games onto QuestPro VR headsets. </li>
                <li>created a Virtual Reality Fruit Ninja Game, showcasing my C# skills and my understanding of VR games on Unity. </li>
                <li>I worked on extracting xyz plane coordinates of an object’s position and the position of eye tracking object, and converting to a CSV file, done by C#. </li>
                <li> I also worked as a researcher for the project, aided participant through the game, collected their data to analyze.</li>
             </ul> 


          
        </div>
    </div>

    <div class="rightcontainer2">
        <div class="VRimage">
            <img src="../assets/IVR.png" alt="VR Image">
        </div>
    </div>
</div>



<div class="content3">
    <div class="leftcontainer3">
        <div class="HCI-Lab">
            <h1>UX/UI Designer for Human Computer Interaction Lab</h1>
        </div>
        <div class="hci">
        
               <ul>
                <li> Currently working as a UX/UI designer on the development and design of an Augmented Reality (AR) tour application that aims to restore the voices of the Ohlone Native American people and challenge colonialist narratives.</li>
                <li>Used Figma to create and improve UI/UX designs, ensuring smooth user interactions and appealing visuals.</li>
                <li>Contributed to the latest UI changes, focusing on onboarding screens, logos, and branding to enhance user experience and maintain visual consistency.</li>
                
             </ul> 


          
        </div>
    </div>

    <div class="rightcontainer3">
        <div class="HCIimage">
            <img src="../assets/hci.png" alt="HCI Image" style="width: 600px; height: auto;">
        </div>
    </div>
</div>


<div class="content4">
    <div class="leftcontainer4">
        <div class="GWC">
            <h1>GirlsWhoCode</h1>
        </div>
        <div class="gwc">
        
               <ul>
                <li>Teaching high schoolers how to create video games using p5Play JavaScript Library using Replit.</li>
                <li>Spent 35+ hours a week planning, designing curriculum, education students, and helping them create projects.</li>
                <li>Partnered with Bank of America and Synchrony Bank to teach Cyber Security to high schoolers.</li>
                <li>Learned basic cryptography from Bank of America and Synchrony Bank Employees.</li>
                <li>Empowered high school girls to join technology field through events from Bank of America and Synchrony Bank.</li>
                <li>The image on the right is an examole of a game I taught my students to create through JavaScript.</li>
             </ul> 


          
        </div>
    </div>

    <div class="rightcontainer4">
        <div class="GWCimage">
            <img src="../assets/GWC.png" alt="gwc Image" style="width: 600px; height: auto;">
        </div>
    </div>
</div>

<div class="content5">
    <div class="leftcontainer5">
        <div class="ACM">
            <h1>ACM-W(Association for Computing Machinery): Web Developer Position</h1>
        </div>
        <div class="acm">
               <ul>
                <li>Completely rebranded of the Santa Clara University’s ACM-W website.</li>
                <li>created a web design wire frame and outline ACM-W website on Figma, establishing UX/UI skills.</li>
                <li>Currently using ReactJS to create the website.</li>
                <li>Will do weekly updated website through HTML, CSS, and JavaScript.</li>
                <li> Planned Hack for Humanity Hackathon, and organizing events for empowering women in the Computer Science field.</li>
                <li>Board Member-Freshman Representative (2023-2024): Assisted in Coding Workshops, finding guest speakers.</li>
             </ul> 


          
        </div>
    </div>

    <div class="rightcontainer5">
        <div class="GWCimage">
            <img src="../assets/ACM-W.png" alt="acm Image" style="width: 600px; height: auto;">
        </div>
    </div>
</div>

</body>
</html>